/* Mobile and tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    #header {
        position: fixed;
    }
    #header .header__search-cart {
        width: 80px;
    }
    #header .cart-list {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        left: 0;
        padding: 0 calc((100% - 644px)/2);
        overflow: hidden;
    }
    .header__sort-bar {
        display: flex;
    }
    .header__menu-mobile {
        position: absolute;
        padding: 10px;
        transform: translateY(-50%);
        top: calc(var( --header-height)/2);
    }
    #header .header__search {
        justify-content: space-between;
        padding: 0 10px 0 40px;
    }
    .header__menu-mobile {
        display: block;
    }
    .slidebar {
        position: fixed;
        z-index: 1;
        top: calc(var(--header-height) + 46px);
        height: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        animation: slidebarSideIn linear 0.2s;
        display: none;
    }
    @keyframes slidebarSideIn {
        from {
            left: -100px;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }
    .header__menu-checkbox:checked ~ .slidebar {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    #header .header__logo-img {
        margin: unset;
    }
    .header__search-mobile {
        display: block;
    }
    .header__search-bar {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        left: 0;
        animation: mobileSearchSideIn linear 0.5s;
        display: none;
    }
    #header .search-bar__histories {
        width: 100vh;
    }
    .header__search-checkbox:checked ~ .header__search-bar {
        display: flex;
    }
    #header .header__search-cart {
        width: unset;
    }
    @keyframes mobileSearchSideIn {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
}